name: Test Coverage

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  main:
    name: Test Coverage
    timeout-minutes: 5
    runs-on: ubuntu-latest

    permissions:
      # Required to checkout the code
      contents: read
      # Required to put a comment into the pull-request
      pull-requests: write

    env:
      DATABASE_URL: postgres://postgres:postgres@localhost:5432/rough_slackbot
      ROOT_DATABASE_URL: postgres://postgres:postgres@localhost:5432/template1

    services:
      postgres:
        image: postgres:17.4
        env:
          POSTGRES_DB: rough_slackbot
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - # https://github.com/actions/checkout
        name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - # https://github.com/pnpm/action-setup
        name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false

      - # https://github.com/actions/setup-node
        name: Install Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: "package.json"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Migrations
        run: pnpm run graphile-migrate reset --erase

      - name: Vitest
        run: pnpm run test:coverage

      - name: Report Coverage
        # Set `if: always()` to also generate the report if tests are failing
        if: always()
        # https://github.com/davelosert/vitest-coverage-report-action
        uses: davelosert/vitest-coverage-report-action@8ab049ff5a2c6e78f78af446329379b318544a1a # v2.8.3
